Real-Time Market Data Pipeline/real-time-market-data-pipeline.json
{
  "name": "Market Data ETL Pipeline",
  "version": 1,
  "tags": ["market-data", "etl", "real-time"],
  "description": "Fetches real-time market data from multiple sources, validates, and stores in database with error handling and monitoring",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            5
          ],
          "hour": [
            "*"
          ],
          "minute": [
            "*"
          ]
        }
      },
      "id": "cron-trigger",
      "name": "5-Minute Market Data Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $vars.MARKET_DATA_API_URL }}/v1/quotes",
        "method": "GET",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.MARKET_DATA_API_KEY }}"
            }
          ]
        },
        "queryParameters": {
          "parameters": [
            {
              "name": "symbols",
              "value": "={{ 'AAPL,GOOGL,MSFT,TSLA,SPY' }}"
            },
            {
              "name": "fields",
              "value": "price,volume,bid,ask,last_trade"
            }
          ]
        }
      },
      "id": "fetch-market-data",
      "name": "Fetch Market Data from API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "validate-price",
              "leftValue": "={{ $json.price }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "greaterThan"
              }
            },
            {
              "id": "validate-symbol",
              "leftValue": "={{ $json.symbol }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-market-data",
      "name": "Validate Market Data Quality",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "market_data_real_time",
        "columns": {
          "symbol": "={{ $json.symbol }}",
          "price": "={{ $json.price }}",
          "bid_price": "={{ $json.bid }}",
          "ask_price": "={{ $json.ask }}",
          "volume": "={{ $json.volume }}",
          "last_trade_time": "={{ $json.last_trade }}",
          "data_source": "={{ 'primary_api' }}",
          "processed_at": "={{ new Date().toISOString() }}",
          "data_quality_score": "={{ ($json.bid && $json.ask) ? (($json.ask - $json.bid) / $json.price) : 0 }}"
        },
        "additionalFields": {}
      },
      "id": "store-raw-data",
      "name": "Store Validated Market Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "mode": "item",
        "item": {
          "json": {
            "error_type": "Data Validation Failed",
            "failed_symbol": "={{ $json.symbol }}",
            "error_message": "Invalid price or missing symbol",
            "raw_data": "={{ $json }}",
            "workflow_name": "Market Data ETL Pipeline",
            "timestamp": "={{ new Date().toISOString() }}",
            "severity": "warning"
          }
        }
      },
      "id": "log-validation-error",
      "name": "Log Data Validation Errors",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        680,
        500
      ]
    },
    {
      "parameters": {
        "channel": "={{ $vars.SLACK_ALERTS_CHANNEL }}",
        "text": "🚨 Market Data Pipeline Alert\n• Validation failed for symbol: {{ $json.failed_symbol }}\n• Error: {{ $json.error_message }}\n• Time: {{ $json.timestamp }}",
        "additionalFields": {}
      },
      "id": "send-slack-alert",
      "name": "Send Slack Alert on Data Issues",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        880,
        500
      ]
    },
    {
      "parameters": {
        "functionCode": "// Calculate pipeline metrics\nconst metrics = {\n  total_records_processed: items.length,\n  successful_records: items.filter(item => item.json.data_quality_score < 0.1).length,\n  failed_records: items.filter(item => item.json.data_quality_score >= 0.1).length,\n  processing_timestamp: new Date().toISOString(),\n  average_spread: items.reduce((sum, item) => sum + (item.json.ask_price - item.json.bid_price), 0) / items.length\n};\n\nreturn [{ json: metrics }];"
      },
      "id": "calculate-metrics",
      "name": "Calculate Pipeline Performance Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ]
    }
  ],
  "connections": {
    "5-Minute Market Data Trigger": {
      "main": [
        [
          {
            "node": "Fetch Market Data from API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Market Data from API": {
      "main": [
        [
          {
            "node": "Validate Market Data Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Market Data Quality": {
      "main": [
        [
          {
            "node": "Store Validated Market Data",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "main": [
        [
          {
            "node": "Log Data Validation Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Validated Market Data": {
      "main": [
        [
          {
            "node": "Calculate Pipeline Performance Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Data Validation Errors": {
      "main": [
        [
          {
            "node": "Send Slack Alert on Data Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "id": "1",
      "name": "market-data"
    },
    {
      "id": "2",
      "name": "production"
    },
    {
      "id": "3",
      "name": "real-time"
    }
  ]
}